<section class="contact">
  <div class="contact-container fade-in">
    <div class="typewriter-parent">
      <div class="typewriter">
        <h1>Contact Me</h1>
      </div>
    </div>
    <p>If you'd like to collaborate or have any queries, feel free to reach out!</p>

    <div class="contact-details">
      <div class="contact-card">
        <img src="gmail.svg" alt="Email" class="icon" />
        <p><a href="mailto:karunakaranrasu@gmail.com">karunakaranrasu&#64;gmail.com</a></p>
      </div>
      <div class="contact-card">
        <img src="linkedin.svg" alt="LinkedIn" class="icon" />

        <p><a href="https://www.linkedin.com/in/karunakaranrasu/" target="_blank">linkedin.com/in/karunakaranrasu</a></p>
      </div>
      <div class="contact-card">
        <img src="github.svg" alt="GitHub" class="icon" />

        <p><a href="https://github.com/Karunakaranrasu" target="_blank">github.com/Karunakaranrasu</a></p>
      </div>
    </div>
  </div>
</section>
