<section class="home">
  <div class="home-container fade-in">
    <div class="profile-section">
      <div class="typewriter-parent">
        <div class="typewriter">
          <h1>R.KARUNAKARAN</h1>
        </div>
      </div>
      <p class="role">Full-Stack Developer | MCA Graduate | 3.5+ Years of Building Scalable Solutions</p>
    </div>
    <div class="download-btn-div">
      <button type="button" (click)="downloadCV()" class="download-btn">
        <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="mysvg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g id="Interface / Download">
              <path id="Vector" d="M6 21H18M12 3V17M12 17L17 12M12 17L7 12" stroke="#f1f1f1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
          </g>
        </svg>
        <span class="texto">Download CV</span>
      </button>
    </div>

    <div class="bio">
      <p>I am a passionate Full-Stack Developer with 3.5 years of experience specializing in Angular, C#, SQL Server, and ASP.NET Core Web API. I have built multiple enterprise-level applications, focusing on ERP systems, responsive design, Progressive Web Apps (PWA), infinite scroll implementations, and server-side rendering (SSR). My goal is to create scalable, efficient, and user-friendly web applications while continuously learning and implementing new technologies. Additionally, I am proficient in Firebase push notifications, localization, onboarding tours, and micro-lessons.</p>
    </div>

    <div class="highlights">
      <h3>Core Expertise</h3>
      <ul>
        <li title="Frontend">Angular (18 & 19), PWA, Responsive Design, Localization</li>
        <li title="Backend">C#, ASP.NET Core Web API</li>
        <li title="Database">SQL Server, Query Optimization</li>
        <li title="Full-Stack">REST APIs, Auth, Microservices, API Logging</li>
        <li title="Performance">Virtual Scroll, Infinite Scroll, SSR</li>
        <li title="UI Components">Dynamic Tabs, Onboarding Tour, AI Chat</li>
        <li title="Cloud & Hosting">Firebase (Push Notifications), Netlify</li>
        <li title="Best Practices">GitHub, Code Refactoring, Clean Architecture</li>
        <li title="AI Integration">Ollama, Autogen API</li>
      </ul>
    </div>
  </div>
</section>
