<section class="skills">
    <div class="skills-container fade-in">
      <div class="typewriter-parent">
        <div class="typewriter">
          <h1>Skills</h1>
        </div>
      </div>
      <h3>Frontend Development</h3>
      <div class="skills-grid">
        <div class="skill-card">Angular (18 & 19)</div>
        <div class="skill-card">TypeScript</div>
        <div class="skill-card">HTML, SCSS</div>
        <div class="skill-card">Responsive Design (BreakpointObserver)</div>
        <div class="skill-card">Progressive Web Apps (PWA)</div>
        <div class="skill-card">Localization & Multi-language</div>
        <div class="skill-card">Server-Side Rendering (SSR)</div>
        <div class="skill-card">Virtual Scroll & Infinite Scroll</div>
        <div class="skill-card">Onboarding Tour Component</div>
      </div>

      <h3>Backend Development</h3>
      <div class="skills-grid">
        <div class="skill-card">C#</div>
        <div class="skill-card">ASP.NET Core Web API</div>
        <div class="skill-card">Authentication & Authorization</div>
        <div class="skill-card">Logging of API Calls</div>
      </div>

      <h3>Database Management</h3>
      <div class="skills-grid">
        <div class="skill-card">SQL Server</div>
        <div class="skill-card">Query Optimization</div>
      </div>

      <h3>DevOps & Deployment</h3>
      <div class="skills-grid">
        <div class="skill-card">GitHub (Version Control)</div>
        <div class="skill-card">Netlify (Hosting)</div>
      </div>

      <h3>AI & Chat Integration</h3>
      <div class="skills-grid">
        <div class="skill-card">Ollama API</div>
        <div class="skill-card">Autogen API</div>
      </div>

      <h3>Other Skills</h3>
      <div class="skills-grid">
        <div class="skill-card">Firebase Push Notifications</div>
        <div class="skill-card">Micro Lessons in ERP Modules</div>
      </div>
    </div>
</section>
