@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --blue: #0000ff;
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  color: white;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(135deg, #ff7eb3, #ff758c, #ff7eb3, #ff758c, #6a11cb, #2575fc);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Winky Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// TYPEWRITER ANIMATION

.typewriter-parent {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--blue); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--blue);
  }
}
